
<div class="wrapper">
  <div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-md-6">
      <img src="../../assets/images/identity.svg">
    </div>
    <div class="col-md-6 vertical-centro">
        <h1 class="rakkas"> Nuestra identidad</h1>
  <span class="montserrat">
    Desde la bahía de Concepción CL para el mundo.
    Nuestra línea estética sigue tendencias modernas y las reglas de oro del diseño, resultando en una armonía visual innegable.
    Asimismo, nos gustan los desafíos de lógica y en cómo abordar un problema desde una perspectiva integral.
    Nos gusta lo que hacemos, y creemos en el conocimiento libre y open source, por lo que contruibuimos a la comunidad tecnológica constantemente.
  </span>
    </div>
  </div>
</div>
</div>