@import url('https://fonts.googleapis.com/css?family=Montserrat|Rakkas|Staatliches&display=swap');
.background-deprecated{

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c9d6ff+0,e2e2e2+100 */
background: rgb(201,214,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(201,214,255,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(201,214,255,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(201,214,255,1) 0%,rgba(226,226,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9d6ff', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */

}
.background{

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c9d6ff+0,e2e2e2+100 */
background: rgb(201,214,255); /* Old browsers */

}
