<div class="wrapper">
    <div class="container text-center pt-5 ">
        <div class="row p-5">
          <div class="col-md-6">
            <img src="../../assets/images/wip.svg">
          </div>
            <div class="col-md-6 vertical-centro">
              <h3 class="montserrat">Oh, hola!</h3>
              <h5 class="montserrat">Esta página está en construcción, pero pronto estará llena de contenido genial. En general, todo el sitio está
                en construcción, por lo que te agradeceremos tu <i>feedback</i> al correo contacto@ancla.tech .
              </h5>
            </div>
        </div>
        
      </div>

  </div>