<div style="height:80px"></div>
<div class="container">
  
  <div class="row">

  </div>
  <div  class="row box m-3 p-2" >
      

      
      <div class="col-md-8 text-center">
      <h4 class="montserrat">Metro Concepción</h4>
      <p>
     
      </p>
      
        <a href="" download="logo.png"><button class="btn btn-primary" > Descargar </button></a>
            
      </div>
      <div class="col-md-4 text-center">
        <img style="position: relative;width: 50vw;" src="../../assets/images/Mockup.png">
      </div>

      <!-- <p class="text-center">Curso de {{item.name}}</p><br>
        <div class="col-md-4 text-center">
          <img class="icon" src={{item.iconRoute}}>
         </div>
        <div class="col-md-8 text-center">
         <h4 class="montserrat">Curso de {{item.name}}</h4>
         <p>
           {{item.description}}
         </p>
         
          <a href="http://ancla.tech/repo/{{item.downloadUuid}}" download="logo.png"><button id={{item.name}} class="btn btn-primary" > Descargar </button></a>
              
        </div>
       -->
       
  </div>
</div>
<div style="height:100px"></div>